
			
  * {
    margin:0px;
    padding:0px;
  }
  
  body{
    background-color: black;
    overflow-x: hidden;
    
  }


.overflow-hidden{
  overflow: hidden;
}

  .visibility-hidden{
    visibility: hidden;
  }

.container-total{
  position: relative;
  font-size: .85px;
  width: 100%;
  
  margin: 0px auto;
  overflow-x: hidden;    
  background: linear-gradient(90deg, rgb(64, 36, 14) 0%, rgb(82, 29, 9) 30%, rgb(57, 4, 4) 85%);
  background-size: 2%;
 
}


@keyframes Inicio{
  0%{
    transform: translateY(-100vh);
  }
  5%{
    transform: translateY(0vh);
  }
  35%{
    transform: translateY(0vh);
    opacity: 1;
  }
  45%{
    transform: translateY(0vh);
    opacity: 0;
  }
  95%{
    transform: translateY(0vh);
    opacity: 0;
  }
  100%{
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.bienvenida-container{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  
  background-color: rgba(0, 0, 0, 0.764);
  backdrop-filter: blur(.8rem);
  animation: Inicio 14s ease-in-out 1s both; 
  top: 0vh;
  z-index: 100; 
/* z-index: 0; */
}

.bienvenida{
  display: block;

  color: rgb(154, 154, 154);
  font-family: monospace;
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 3px 0;
  letter-spacing: 8px ;
  background-color: transparent;
  border: 1px solid rgb(81, 80, 80);
  /* box-shadow: 0 3px .2rem .3rem rgb(59, 59, 59); */
}


.menu .contacto-mio{
  font-size: 20px;
  font-family: monospace;
  letter-spacing: 2px;
  color: rgb(98, 98, 98);
}





  .pared-monitor{
    position: relative;
    top: -250em;
    margin-bottom: -145em;
    
    width: 100%;
    height: 500em;
    background: linear-gradient(180deg, rgb(205, 89, 74) 0, rgb(110, 45, 35) 15%, rgb(105, 27, 27) 18%);
  }


.botones-download-video{
  position: absolute;
  width: 100%;
  height: 20em;
  
  margin: 50em auto;
  text-align: center;
  bottom: 108em;

  z-index: 50;
}



.pared-monitor .botones-download-video a{

  color: rgb(108, 109, 108);
  display: inline-block;
  padding: calc(1em/12) calc(5.8em/12);
  
  font-size: 12em;
  letter-spacing: calc(6em/12);
  border-radius: calc(1.5em/12);
  text-decoration: none;
  border: 1px solid rgb(56, 56, 56);
  font-weight: 100;
  transition: .3s;
  
}



.pared-monitor .botones-download-video a:hover{
  box-shadow: 0 0 1em .1rem rgb(102, 100, 100);
  
}





 .monitor{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --min-width: 300em;
  --min-height: 169em;
  width: calc(var(--n-fold) * var(--min-width));
  height: calc(var(--n-fold) * var(--min-height));
  margin: 250em auto 0 auto;
  top: 140em;
  --border-top-min: 8em;
  --border-left-right-min: 5em;
  --border-bottom-min: 20em;
  --border-radius-min: 3em; 
  --n-fold: 1.2;  /*  MOBILE FIRST  */  
  border-top: calc(var(--n-fold) * var(--border-top-min)) solid black;
  border-right:calc(var(--n-fold) * var(--border-left-right-min)) solid black;
  border-bottom: calc(var(--n-fold) * var(--border-bottom-min)) solid black;
  border-left: calc(var(--n-fold) * var(--border-left-right-min)) solid black;
  border-radius: calc(var(--n-fold) * var(--border-radius-min));

  background-color: rgb(21, 21, 21);
  box-shadow: 0 20em 1rem .3rem rgb(46, 1, 1);
 }



 .monitor p{
  width: 90%;
  color: rgb(230, 230, 230);
  font-size: 13em;
  margin: 0 auto;
  line-height: 1.8em;
  text-align: center;
}


 .monitor video{
  position: absolute;
  
  width: 100%;
  height: 100%;
  z-index: 10;
}



/* 
.monitor a{
  position: absolute;
  z-index: 0;

} */

h1{
  color: white;
  text-align: center;
  
  
}

.marca{
   font-size: 12em;
   margin-left: 0px;
   color: gray;
   background-color: transparent;
}


.btn-video{
  font-size: 14px;
   margin-left: 0px;
    color: white;
    background-color: gray;
  transition: background-color .3s;
}

.btn-video:hover{
  color: red;
  background-color: white;
}


  

.notebook-table{
  position: relative;
  margin-top: -400em;
 
}

  .notebook{
    position: relative;
    margin: 0 auto;
 
    width: 300em;
    height: 400em;
    top: -20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 
    z-index: 1;
  }

@keyframes Open-Display{
  0%{
    transform: perspective(1000px) rotateX(-60deg);
  }
  100%{
    transform: perspective(1000px) rotateX(0deg);
  }
}
 .display{
  position: absolute;
  top: 1.8%;
  
  width: 230em;
  height: 200em;
  background-image: url("../assets/images/pantalla-notebook.png");
  background-size: 134%;
  background-position: 50% 18%;
  background-repeat: no-repeat;
  
  z-index: 10;
  transform-origin: 50% 83%;
  transform: perspective(1000px) rotateX(-60deg);
  
} 

.opacity-cero{
  transition: 3s linear;
  opacity: 0;
  
}

.display-none{
  display: none;
}



.open-display{
  animation: Open-Display 5s ease-in both;
  

}

.black-screen{
  position: absolute;
  top: 22em;
  left: 0em;
  width: 220em;
  height: 125em;
  background-color: rgb(44, 43, 43);
  z-index: 30;
}

.kb{
  position: relative;
  width: 300em;
  height: 150em;
  background-image: url("../assets/images/teclado-notebook.png");
  background-size: 102%;
  background-position: 60% 86%;
  background-repeat: no-repeat;

 

  color: white;
 
  z-index: 5;
}

@keyframes Boton-Power{
  0%, 100%{
    opacity: .1;
  }
  50%{
    opacity: .9;
    box-shadow: 0 0 .2rem .05rem  rgb(177, 247, 177);;
  }
}

.btn-power-notebook{
  position: absolute;
  top: 46em;
  left: 238em;
   width: 9em;
   height: 6em;
   border: 2em solid rgb(160, 163, 160, 0);
   border-radius: 50%;
}

.animation-btn-power{
  border: 2em solid rgb(130, 243, 130);
  animation: Boton-Power 3s linear infinite;
}

  .explorer-container, .file-container {
    
    margin-top: 22em;

    height: 125em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(48, 47, 47);
  }
  
 
.explorer-container{
  margin-left: 4em;
  padding-left: 2em;
  width: 100em;
  
  border-right: 1em solid rgb(124, 125, 124);
}

.file-container{
 
  width: 116em;
  margin-top: -125em;
  margin-left: 108.5em;
  overflow-x: scroll;
  
  background-color: rgb(48, 47, 47);
 
}

.file{
  overflow-x: scroll;
}

  ul, ol {
    list-style:none;
  }
  
.nav{
  display: flex;
  flex-direction: column;
  margin-top: -18px;
}



  
.explorer-container::-webkit-scrollbar, .file-container::-webkit-scrollbar, .file::-webkit-scrollbar{
  width: 2em;

  
  /* background: rgba(89, 210, 250, 0.707); */
}

.explorer-container::-webkit-scrollbar-thumb, .file-container::-webkit-scrollbar-thumb{
 
  height: 5em;
  border-radius: 20em;
  background: rgba(236, 107, 107, 0.597);

 
}


  .nav > li {
    float: right;
    margin: 4em 0;
  }
  
  .nav li span, .nav li button {
    font-weight: 100;
    font-size: 5em;
    color:#fff;
    text-decoration:none;
    padding: 1em;
    
    transition: .3s;
  }
  
  
  
  
  .nav li ul {
    display:none;
    position:relative;
    min-width:140em;
    
  }
  
  .nav li:hover > ul {
    width: 100%;
    display:block;
   margin: 5em 0;
    padding-left: 6em;
    
  }
  
  .nav li ul li {
    position:relative;
    
  }
  
  .nav li ul li ul {
    right:-140em;
    top:0em;
  }
  




  .nav li .li-index-html{
    background-color: transparent;
    border: none;
    font-size: 1em;
   
    padding-left: 0;
  }


li ul li .li-js, li ul li .li-js>*, li ul li .li-css, li ul li .li-css>*, .li-album-html, .li-tema-html{
  background-color: transparent;
  border: none;
  font-size: 4em;
  
}


li ul li .js{
  color: yellow;
  font-size: 1em; 
}

li ul li .css{
  color: rgb(0, 191, 255);
  font-size: 1.4em; 
}



.nav li .html-icon{

  display: inline-block;
  padding: 0;
  margin-right: 3em;
  width: .5em;
  height: .5em;
  background-color: transparent;
/*clip-path: polygon(45% 0, 25% 50%, 45% 100%, 0 50%, 45% 0, 55% 0, 100% 50%, 55% 100%, 75% 50%, 55% 0);
 */ 
}

.nav li{

  font-size: 1.5px;
  margin: 5px;
}



.table{
  position: relative;
  width: 100%;
  height: 184em;
  top: -270em;
  background: linear-gradient(180deg, rgb(86, 85, 85) 0, rgb(209, 207, 207) 80%);
  background: linear-gradient(180deg, rgb(47, 20, 13) 0, rgb(74, 32, 19) 100%);
  background: linear-gradient(180deg, rgb(207, 125, 103) 0, rgb(226, 180, 162) 20%, rgb(226, 180, 162) 50%, rgb(102, 78, 68) 80%);
  box-shadow: 0 40em 3rem 1rem rgb(30, 7, 7);
}




.table::before{
  content: "";
  width: inherit;
  height: 20em;
  position: absolute;
  bottom: 0;
  background: linear-gradient(45deg, rgb(68, 43, 32) 0, rgb(148, 92, 72) 100%);
}


.auriculares{
  position: absolute;
  bottom: 18%;
  right: -5%;
  z-index: 20;
  width: 150em;
  height: 130em;
  

  background-image: url("../assets/images/auriculares.png");
  background-size: 125%;

  background-repeat: no-repeat;
  background-position: 45% 50%;
}

.mic{
  position: absolute;
  bottom: 21%;
  left: -15%;
  z-index: 10;
  width: 100em;
  height: 180em;

  
  background-image: url("../assets/images/mic.png");
  background-size: 200%;
 
  background-repeat: no-repeat;
  background-position: 48.5% 50%;
}


.mouse{
  position: absolute;
  bottom: 24%;
  right: 55%;
  z-index: 20;
  width: 74em;
  height: 50em;
 
  
  background-image: url("../assets/images/img_mouse.png");
  background-size: 90%;
 
  background-repeat: no-repeat;
  background-position: 2em 5em;

}


  #monitor-mobile{
    position: relative;
   /*  width: 100%;
    height: 10px;
    background-color: greenyellow;
    z-index: 50; */
    /* top: 400px; */
  
  }
 
footer small a{
  color: rgb(109, 109, 109);
  font-family: monospace;
  font-size: 15px;
}

@media screen and (min-width: 450px){
   
  body{
    
    overflow-x: visible;
    overflow-y: visible;
  }



  
 .monitor p{
  width: 80%;
  color: rgb(230, 230, 230);
 /*  font-size: 28px;
  
  line-height: 35px; */
  
}



   #monitor-desk{
    position: relative;
   /*  width: 100%;
    height: 10px;
    background-color: rgb(0, 195, 255);
    z-index: 50; */
    /* top: 400px; */
  
  }
 

  .bienvenida{
    font-size: 35px;
  }
  
  .mic{
    
    left: -30%;
  }

  .auriculares{
    right: -25%;
  }


  .nav li{
  font-size: 2.5px;
 
}

}



@media screen and (min-width: 768px){



   
 .monitor p{
  width: 80%;
  color: rgb(230, 230, 230);
  /* font-size: 34px;
  
  line-height: 45px; */
  
}




  .container-total{
    overflow-x: visible;
    font-size: 1.3px;
    width: 90%;
    margin: 400px auto;
  }

  footer small a{
  font-family: monospace;
  font-size: 20px;
}



  .botones-download-video{
    bottom: 147em;
  }

  .monitor{
    --n-fold: 1.5;
    top: 70px;
    
  }
  .mic{
    bottom: 21%;
    left: -45%;
  }


}



@media screen and (min-width: 1024px){
  .container-total{
    font-size: 1.5px;
    width: 80%;
  }

  .botones-download-video{
    bottom: 135em;
  }

  .monitor{
    --n-fold: 1.7;
    top: 50px;
  }

}




@media screen and (min-width: 1150px){
  .container-total{
    font-size: 1.4px;
    width: 80%;
  }

  .botones-download-video{
    bottom: 113em;
  }

  .monitor{
    --n-fold: 2;
    margin-top: 500px;
    
    top: 10px;
  }

}

@media screen and (min-width: 1650px){
  .container-total{
    font-size: 2px;
    width: 80%;
  }

  

}


@media screen and (min-width: 2350px){
  .container-total{
    font-size: 2.2px;
    width: 80%;
    
    top: 400px;
  }

 

}


.menu-desplegable select{
  color: white;
}

.menu-select {
  background: transparent;
  width: 140px;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 35px;
  
}

option:active{
  color: greenyellow;
}

.btn-archivo{
  background-color: transparent;
  color: white;
}



code{
 color: #ccc;
  font-size: 7em;
}

.file{
  width: 100%;
  height: 100%;
 
}

.visible-none{
  visibility: hidden;
}

.visible-yes{
  visibility: visible;
}


/*...............  GALERÍA---------------*/

.images{
  position: relative;
    width: 94%;
    height: auto;
    margin: -200px auto 300px auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   background-color: rgb(66, 12, 12);
   border-radius: 20px;
   border: 5px solid rgb(118, 48, 48);
   box-shadow: 0 0 2rem 1.2rem rgb(33, 33, 33), inset 0 0 3rem rgb(179, 80, 80);
   z-index: 50;
}


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280em;
  height: 400em;
  padding: 8em 0;
  margin: 70em auto;
  background: linear-gradient(0deg, black 0%, black 94%, rgb(49, 48, 48) 100%);
  box-shadow: -15px 0 1rem 1rem rgb(44, 7, 7);
  transition: transform .5s ease-out;
  border-radius: 10px;
  font-size: 1px;  /*-----  referencia de TAMAÑO del componente Card ..........*/
  /*   border: 2px rgb(93, 91, 91) solid;  */  
}

.image{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

background-position: center;


}


.image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}



 .card  a .btn-video, .card .btn-video{
   /* margin-top: 20px; */
   display: inline-block;
   padding: calc(7em/15);
   font-size: 9em;
   letter-spacing: calc(6em/15);
   color: rgb(108, 109, 108);
   border: solid rgb(66, 65, 65) calc(.5em/15);
   border-radius: calc(5em/15);
   background-color: transparent;
   text-decoration: none;
   
   transition: .3s;
}


.card a input:hover, .card .btn-video:hover{
/*   background-color: rgb(112, 40, 40); */
  

  
  box-shadow: 0 0 1.2rem .1rem rgb(102, 100, 100);
}



@media (min-width: 450px){
  .card{
    font-size: 1.5px;
  }
}

@media (min-width: 768px){
  .images{
    border: 15px solid rgb(118, 48, 48);
    box-shadow: 0 0 2rem 1.2rem rgb(33, 33, 33), inset 0 0 8rem rgb(179, 80, 80);
  
  }
  .card{
    font-size: 2px;
    transition: .8s ease-out; 
  }

 
}






